<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="public/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/157ef05b37.js" crossorigin="anonymous"></script>
    <script src="public/script/script.js"></script>
    <script src="public/script/fillCart.js"></script>
</head>
<body>
<!--хедер-->
<%-include ('blocks/header.ejs')%>
<!--корзина-->
<section>
    <div class="container-sm">
        <div class="card">
            <h5 class="card-header">Корзина</h5>
            <div class="card-body" id="cartItems">
                <!--элементы корзины-->
            </div>
        </div>
        <p class="card-text" id="itog">Итого:</p>
        <div class="buttonsCart">
            <button id="clear" class="btn btn-primary">очистить</button>
            <button type="button" id="toPay" class="btn btn-outline-primary">Оплатить <i class="fas fa-cart-plus"></i></button>
        </div>
    </div>
</section>
<%-include ('blocks/footer.ejs')%>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>