<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="public/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/157ef05b37.js" crossorigin="anonymous"></script>
    <script src="public/script/script.js"></script>
</head>
<body>
<%-include ('blocks/header.ejs')%>
<!--контакты-->
<div class="container-sm">
    <div class="card">
        <h5 class="card-header">Адреса магазинов:</h5>
        <div class="card-body">
            <p class="card-text">Проспект Бауыржан Момышулы 8.</p>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Контакты:</h5>
        <div class="card-body">
            <h5 class="card-title">Заказ:</h5>
            <p class="card-text">+7-777-777-77-77</p>
            <h5 class="card-title">Доставка:</h5>
            <p class="card-text">+7-777-777-77-77</p>
        </div>
    </div>
</div>
<%-include ('blocks/footer.ejs')%>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>