<!--header-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-sm ">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Меню
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/main?category=0">Все</a></li>
                            <li><a class="dropdown-item" href="/main?category=1">Торты</a></li>
                            <li><a class="dropdown-item" href="/main?category=2">Пироги</a></li>
                            <li><a class="dropdown-item" href="/main?category=4">Рулеты</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            О Нас
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/contact">Контакты</a></li>
                            <li><a class="dropdown-item" href="/deliver">Доставка</a></li>
                        </ul>
                    </li>
                    <a class="navbar-brand" href="/main"><img src="public/images/logo.png" alt="логотип" width="100px"></a>
                </ul>
                <button type="button" id="cart" class="btn btn-outline-primary">Корзина <i class="fas fa-cart-plus"></i></button>
            </div>
        </div>
    </nav>
</header>